<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Don't worry.<br />
        We are here for every solution.
      </h1>
      <p>
        Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon.
        Actually beards single-origin coffee, twee 90's PBR Echo Park
      </p>
      <button type="button" class="btn rounded-pill btn-primary">
        Get started
      </button>
      <button type="button" class="btn btn-ghost-primary">
        <mat-icon [ngStyle]="{ color: 'blue' }">play_circle_filled</mat-icon>
        Watch video
      </button>
    </div>
    <div class="col-md-6">
      <img src="../assets/img/picture.png" alt="" />
    </div>
    <div class="col-md-6">
      <app-forms></app-forms>
    </div>
    <div class="col-md-6">
      <app-profile-editor></app-profile-editor>
    </div>
  </div>
</div>
